*{
    background: #E8E8E8;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;

}
.form{
    padding-top: 15%;
    display: flex;
    flex-direction: column;


}
input{
    height: 25px;
    width: 180px;
    font-size: 10px;
    padding-left: 7px;
    outline: none;
    border: none;
    border: 1px solid #5C98B5;
    border-radius: 10px;
   font-style: italic;
}

input:focus{
    border: 1.5px solid #5C98B5;
}

.label{
    font-size: 12px;
    font-weight: 300;
    color: #383838;
    margin-bottom: 5px;
    padding-left: 5px;
}
.password{
    margin-top: 15px;
}

.btn{
    padding: 6px 30px;
    font-weight: 400;
    margin-top: 25px;
    align-self: center;
    border-radius: 15px;
    background-color: #383838;
    color: white;
    outline: none;
    border: none;
    border:1px solid #383838;
    cursor: pointer;
}

.btn:hover{
    background:  #5C98B5;
    border:1px solid #5C98B5 ;
    color: #E8E8E8;
    transition: all .5s ease-in-out;
}

.homeBtn{
    margin-bottom: 20px;
    padding: 5px 15px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;

}